/* Definições iniciais para a página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 20px 0;
}

.folha {
  width: 210mm;
  height: 297mm;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  border: 2px solid green;
}

.conteudo {
  width: 160mm;
  height: 247mm;
  border: 2px solid red;
  margin: 25mm;
  box-sizing: border-box;
  position: relative;
}

#cabecalho-formulario, #cabecalho-rascunho {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinha os itens ao centro */
  width: 100%;
  max-width: 160mm;
}

#info-formulario, #info-rascunho {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

#info-formulario {
  max-width: 110mm;
}

#campo-nome {
  font-size: 50px;
  margin-bottom: 5px;
  position: relative;
}

#campo-cargo {
  font-size: 22px;
  margin-bottom: 5px;
}

#pessoais-formulario input,
#pessoais-formulario select {
  font-size: 14px;
  margin-right: 2px;
  margin-bottom: 5px;
  max-width: 160mm;
}

#pessoais-formulario {
  display: flex;
  justify-content: space-between;
  max-width: 160mm;
}

.foto {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #eee;
  background-position: center;
  background-size: cover;
  margin-top: 20px;
}

#label-toggle-foto {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 14px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* Visualizador */
#foto-rascunho {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #eee;
  background-position: center;
  background-size: cover;
  display: none;
}

/* Tema claro */
body.claro {
  background-color: white;
  color: black;
}

body.claro .folha {
  border: 1px solid #000;
}

body.claro .conteudo {
  background-color: white;
}

/* Tema escuro */
body.escuro {
  background-color: black;
  color: white;
}

body.escuro .folha {
  border: 1px solid #fff;
}

body.escuro .conteudo {
  background-color: #000000;
}

#label-nome {
  font-size: 50px;
}

#label-cargo {
  font-size: 22px;
}
